a{
    text-decoration: none;
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
}
a:hover{
    font-weight: 900;
    color: #36acb3;
}
.copyright-text{
    text-align: center;
    color: white;
    padding: auto auto;
}
.copyright-text:hover{
    color: #287579;
    font-weight: bolder;
}
.footer{
    overflow: hidden;
    background-color: #252525;
    font-family: 'Times New Roman', Times, serif;
    /* position: relative; */
    padding-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;

}
.footer-heading{
    font-size: larger;
    font-weight: bolder;
}
.line-divider{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 4px;
    color: aliceblue;
}