



/* for hover state use #205E61 */

@media(max-width:768px){
    .header-except-logo{
        flex-direction: column;
    }
    .cart-logo{
        width: 2rem;
        /* background-color: white !important; */
    }   
    .a-text-color1{
        color: black;
    }
    .brand-logo{
        margin-left: 5%;
        width: 80px;
        height: 80px;
    }
    
    .cart-logo1{
        /* margin-left: 10%; */
        /* margin-right: auto; */
        /* margin */

    }
    a:active{
        color: #c0c0c0;
        border-color: #c0c0c0;
    }
    .dropdownbox-header:active{
        border: none;
        border-color: #c0c0c0;
        color: #c0c0c0;
    }
    .header-part1{
        padding-bottom: 3px;
        background-color: black;
    }
    .header-part2{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #c0c0c0;
        box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    
    }
    .header-seacrh-bar{
        width: 30%;
        /* margin-left: 25%; */
    }
    .header-seacrh-bar1{
        padding-left: 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-weight: lighter;
        width: 15rem;
        margin-top: 1rem;
        height: 3rem;
    }
    .header-search-button{
        /* margin-right: 10%; */
        /* margin-left: 0; */
    }
    .header-search-button1{
        background-color: #3F979B;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        height: 3rem;
        margin-top: 1rem;
    }
    .header-search-button1:hover{
        background-color: #287579;
    }
    .header-login-button1{
        background-color: #3F979B;
        margin-top: 1rem;
        width:4rem;

    }
    .header-login-button1:hover{
        background-color: #287579;
    }
    .home-button{
        margin: auto;
    }
    .header-except-logo{
        width: 100%;
    }
    .menu{
        justify-content: space-around;
    }
    .fa-shopping-cart{
        color: #3F979B;
        margin-top: 1rem;
    }
   
}

@media(min-width:768px){
    .cart-logo{
        width: 2rem;
        /* background-color: white !important; */
    }   
    .a-text-color1{
        color: black;
    }
    .brand-logo{
        margin-left: 5%;
        width: 80px;
        height: 80px;
    }
    
    .cart-logo1{
        /* margin-left: 10%; */
        /* margin-right: auto; */
        /* margin */

    }
    a:active{
        color: #c0c0c0;
        border-color: #c0c0c0;
    }
    .dropdownbox-header:active{
        border: none;
        border-color: #c0c0c0;
        color: #c0c0c0;
    }
    .header-part1{
        padding-bottom: 3px;
        background-color: black;
    }
    .header-part2{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #c0c0c0;
        box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    
    }
    .header-seacrh-bar{
        width: 30%;
        margin-left: 25%;
    }
    .header-seacrh-bar1{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-weight: lighter;
        width: 15rem;
        height: 100%;
    }
    .header-search-button{
        margin-right: 10%;
        margin-left: 0;
    }
    .header-search-button1{
        background-color: #3F979B;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .header-search-button1:hover{
        background-color: #287579;
    }
    .header-login-button1{
        background-color: #3F979B;
        margin-left: 8rem;
        width:4rem;
    }
    .header-login-button1:hover{
        background-color: #287579;
    }
    .home-button{
        margin: auto;
    }
    .header-except-logo{
        width: 100%;
    }
    .menu{
        justify-content: center;
    }
    .fa-shopping-cart{
        color: #3F979B;
        margin-left: 2rem;
    }
   
}

@media(min-width:992px){
    .a-text-color1{
        color: black;
    }
    .brand-logo{
        margin-left: 5%;
        width: 80px;
        height: 80px;
    }
    
    .cart-logo1{
        /* margin-left: 10%; */
        /* margin-right: auto; */
        /* margin */

    }
    a:active{
        color: #c0c0c0;
        border-color: #c0c0c0;
    }
    .dropdownbox-header:active{
        border: none;
        border-color: #c0c0c0;
        color: #c0c0c0;
    }
    .header-part1{
        padding-bottom: 3px;
        background-color: black;
    }
    .header-part2{
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #c0c0c0;
        box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    
    }
    .header-seacrh-bar{
        width: 30%;
        margin-left: 25%;
    }
    .header-seacrh-bar1{
        padding-left: 20px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-weight: lighter;
        width: 100%;
        height: 100%;
    }
    .header-search-button{
        margin-right: 10%;
        margin-left: 0;
        /* color: black; */
    }
    .header-search-button1{
        background-color: #3F979B;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        color: black;
    }
    .header-search-button1:hover{
        background-color: #287579;
    }
    .header-login-button1{
        background-color: #3F979B;
        margin-left: 10rem;
        width:8rem;
        color: black;
    }
    .header-login-button1:hover{
        background-color: #287579;
    }
    .home-button{
        margin: auto;
    }
    .header-except-logo{
        width: 100%;
    }
    .menu{
        justify-content: center;
    }
    .fa-shopping-cart{
        color: #3F979B;
        margin-left: 2rem;
    }
   
}

@media(min-width:1130px){
    .header-login-button1{
        margin-left: 15rem;
    }
}