.card{
    height: 99%;
}
.card-body-styling{
    background-color: #36acb3;
    text-align: center;
}
.home-page-part1{
    /* margin-top: 20px; */
    height: 100%;
    height: 100vh;
    /* size: ; */
    background-image: url("Images/backgroundimg1.jpg");
    background-size: 100% 150%;
    background-repeat: no-repeat;
    padding-top:14% ;
    text-align: center;
}
.home-page-part1-logo{
    width: 180px;
    height: 180px;
}
.home-page-slogan{
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.slider-heading{
    margin-bottom: 2%;
    color: white;
    font-size:xx-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.slider-show-home-page{
    padding-top: 5%;
    padding-bottom: 5%;
}

