.card{
    width: 90%;
    height: 97%;
    margin-bottom: 10%;
    /* text-align: center; */
    /* justify-content: center; */
    padding: auto auto;
}
.card:hover{
    width: 95%;
}
.card-body{
    background-color: #36acb3;
    text-align: center;
}
.pants-section{
    background-color: #263341;
}
.image-styling{
    height: 50%;
}
.section-title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 1%;
}